

<div>
    <thead>
        <tr>
            <th><h2>user info</h2></th>
        </tr>
    </thead>
    <tbody>
        
    <div *ngIf = "!editorEnabled">
        <div>
            <tr>
                <th>avatar</th>
                <th> &nbsp;{{user.avatar}}</th>
            </tr>
    
            <tr>
                <th>firstname</th>
                <th> &nbsp;{{user.firstName}}</th>
            </tr>
    
            <tr>
                <th>ssn</th>
                <th>&nbsp;{{user.ssn}}</th>
            </tr>
        </div>
        <button (click)="enableEditor()">Edit</button>
    </div>

    <div *ngIf = "editorEnabled">
        <div>
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div #nameControl="ngModelGroup" ngModelGroup="user">
                    <tr>
                        <td>avatar</td>
                        <td>
                            <input type="text" name="avatar" [(ngModel)]="user.avatar"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>firstname</td>
                        <td>
                            <input type="text" name="firstname" [(ngModel)]="user.firstName"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>ssn</td>
                        <td>
                            <input type="text" name="ssn" [(ngModel)]="user.ssn"><br>
                        </td>
                    </tr>
                    
                </div>
                <button type="submit">Submit</button>
            </form><br>

            <button (click)="save()">Save</button>
            <button (click)="disableEditor()">cancel</button>
        </div>     
    </div>
        
    </tbody>
</div>

