

<!--
<tbody>
    <div *ngIf = "!editorEnabled">
        <div>
            <tr>Primary Address</tr>
            <tr>
                <th>Line One</th>
                <th> &nbsp;{{addressInfo?.primaryAddress?.lineOne}}</th>
            </tr>
            <tr>
                <th>Line Two</th>
                <th> &nbsp;{{addressInfo?.primaryAddress?.lineTwo}}</th>
            </tr>
            <tr>
                <th>City</th>
                <th> &nbsp;{{addressInfo?.primaryAddress?.city}}</th>
            </tr>
            <tr>
                <th>State</th>
                <th> &nbsp;{{addressInfo?.primaryAddress?.state}}</th>
            </tr>
            <tr>
                <th>Zip</th>
                <th> &nbsp;{{addressInfo?.primaryAddress?.zip}}</th>
            </tr>
        </div>

        <div>
            <tr>Secondary Address</tr>
            <tr>
                <th>Line One</th>
                <th> &nbsp;{{addressInfo?.secondaryAddress?.lineOne}}</th>
            </tr>
            <tr>
                <th>Line Two</th>
                <th> &nbsp;{{addressInfo?.secondaryAddress?.lineTwo}}</th>
            </tr>
            <tr>
                <th>City</th>
                <th> &nbsp;{{addressInfo?.secondaryAddress?.city}}</th>
            </tr>
            <tr>
                <th>State</th>
                <th> &nbsp;{{addressInfo?.secondaryAddress?.state}}</th>
            </tr>
            <tr>
                <th>Zip</th>
                <th> &nbsp;{{addressInfo?.secondaryAddress?.zip}}</th>
            </tr>
        </div>
        
        
        <button (click)="enableEditor()">Edit</button>
    </div>

    <div *ngIf = "editorEnabled">
        
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div #nameControl="ngModelGroup" ngModelGroup="user">
                <div>
                    <tr>Primary Address</tr>
                    <tr>
                        <th>Line One</th>
                        <th><input matInput type="text" name="pAdLineOne" [ngModel]="addressInfo?.primaryAddress?.lineOne" (ngModelChange)="addressInfo.primaryAddress.lineOne"><br></th>
                        
                    </tr>
                    <tr>
                        <th>Line Two</th>
                        <th><input type="text" name="pAdLineTwo" [ngModel]="addressInfo?.primaryAddress?.lineTwo" (ngModelChange)="addressInfo.primaryAddress.lineTwo"><br></th>
                        
                    </tr>
                    <tr>
                        <th>City</th>
                        <th><input type="text" name="pAdCity" [ngModel]="addressInfo?.primaryAddress?.city" (ngModelChange)="addressInfo.primaryAddress.city"><br></th>
                        
                    </tr>
                    <tr>
                        <th>State</th>
                        <th><input type="text" name="pAdState" [ngModel]="addressInfo?.primaryAddress?.state" (ngModelChange)="addressInfo.primaryAddress.state"><br></th>
                        
                    </tr>
                    <tr>
                        <th>Zip</th>
                        <th><input type="text" name="pAdZip" [ngModel]="addressInfo?.primaryAddress?.zip" (ngModelChange)="addressInfo.primaryAddress.zip"><br></th>
                        
                    </tr>
                </div>
    
                <div>
                    <tr>Secondary Address</tr>
                    <tr>
                        <th>Line One</th>
                        <th><input type="text" name="sAdLineOne" [ngModel]="addressInfo?.secondaryAddress?.lineOne" (ngModelChange)="addressInfo.secondaryAddress.lineOne"><br></th>
                        
                    </tr>
                    <tr>
                        <th>Line Two</th>
                        <th><input type="text" name="sAdLineTwo" [ngModel]="addressInfo?.secondaryAddress?.lineTwo" (ngModelChange)="addressInfo.secondaryAddress.lineTwo"><br></th>
                        
                    </tr>
                    <tr>
                        <th>City</th>
                        <th><input type="text" name="sAdCity" [ngModel]="addressInfo?.secondaryAddress?.city" (ngModelChange)="addressInfo.secondaryAddress.city"><br></th>
                        
                    </tr>
                    <tr>
                        <th>State</th>
                        <th><input type="text" name="sAdState" [ngModel]="addressInfo?.secondaryAddress?.state" (ngModelChange)="addressInfo.secondaryAddress.state"><br></th>
                        
                    </tr>
                    <tr>
                        <th>Zip</th>
                        <th><input type="text" name="sAdZip" [ngModel]="addressInfo?.secondaryAddress?.zip" (ngModelChange)="addressInfo.secondaryAddress.zip"><br></th>
                        
                    </tr>
                </div>
                
            </div>
            <button type="submit">Save</button>
        </form><br>
        <button (click)="discardChanges()">Cancel</button>
    </div>
    
-->

<div *ngIf = "editorEnabled">
    <mat-card class="example-card">
        <h1>Address</h1>
        
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Primary Address
        </mat-panel-title>
        <mat-panel-description>
          Type your Primary Address
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Line One</mat-label>
        <input matInput type="text" name="pAdLineOne" [ngModel]="addressInfo?.primaryAddress?.lineOne" (ngModelChange)="addressInfo.primaryAddress.lineOne">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Line Two</mat-label>
        <input matInput type="text" name="pAdLineTwo" [ngModel]="addressInfo?.primaryAddress?.lineTwo" (ngModelChange)="addressInfo.primaryAddress.lineTwo">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput type="text" name="pAdCity" [ngModel]="addressInfo?.primaryAddress?.city" (ngModelChange)="addressInfo.primaryAddress.city">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput type="text" name="pAdState" [ngModel]="addressInfo?.primaryAddress?.state" (ngModelChange)="addressInfo.primaryAddress.state">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Zipcode</mat-label>
        <input matInput type="text" name="pAdZip" [ngModel]="addressInfo?.primaryAddress?.zip" (ngModelChange)="addressInfo.primaryAddress.zip">
      </mat-form-field>
  
  <!-- #docregion action-bar -->
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
  <!-- #enddocregion action-bar -->
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Secondary Address
        </mat-panel-title>
        <mat-panel-description>
          Type your Secondaty Address
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Line One</mat-label>
        <input matInput type="text" name="pAdLineOne" [ngModel]="addressInfo?.secondaryAddress?.lineOne" (ngModelChange)="addressInfo.secondaryAddress.lineOne">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Line Two</mat-label>
        <input matInput type="text" name="pAdLineTwo" [ngModel]="addressInfo?.secondaryAddress?.lineTwo" (ngModelChange)="addressInfo.secondaryAddress.lineTwo">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput type="text" name="pAdCity" [ngModel]="addressInfo?.secondaryAddress?.city" (ngModelChange)="addressInfo.secondaryAddress.city">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput type="text" name="pAdState" [ngModel]="addressInfo?.secondaryAddress?.state" (ngModelChange)="addressInfo.secondaryAddress.state">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Zipcode</mat-label>
        <input matInput type="text" name="pAdZip" [ngModel]="addressInfo?.secondaryAddress?.zip" (ngModelChange)="addressInfo.secondaryAddress.zip">
      </mat-form-field>
  
  <!-- #docregion action-bar -->
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Done</button>
      </mat-action-row>
  <!-- #enddocregion action-bar -->
    </mat-expansion-panel>
  
  </mat-accordion>
  <button mat-stroked-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-stroked-button color="accent" (click)="discardChanges()">Cancel</button>
    </mat-card>
</div>
  


<div *ngIf = "!editorEnabled">
    <mat-card>
        <h1>Address</h1>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Primary Address
                </mat-panel-title>
                <mat-panel-description>
                  Click to view Primary address
                </mat-panel-description>
              </mat-expansion-panel-header>
              <tr>
                  <th>Line One</th>
                      <th> &nbsp;{{addressInfo?.primaryAddress?.lineOne}}</th>
                  </tr>
                  <tr>
                      <th>Line Two</th>
                      <th> &nbsp;{{addressInfo?.primaryAddress?.lineTwo}}</th>
                  </tr>
                  <tr>
                      <th>City</th>
                      <th> &nbsp;{{addressInfo?.primaryAddress?.city}}</th>
                  </tr>
                  <tr>
                      <th>State</th>
                      <th> &nbsp;{{addressInfo?.primaryAddress?.state}}</th>
                  </tr>
                  <tr>
                      <th>Zip</th>
                      <th> &nbsp;{{addressInfo?.primaryAddress?.zip}}</th>
                  </tr>
                    
            </mat-expansion-panel>
          
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Secondary Address
                </mat-panel-title>
                <mat-panel-description>
                  Click to view Secondary address
                </mat-panel-description>
              </mat-expansion-panel-header>
              <tr>
                  <th>Line One</th>
                      <th> &nbsp;{{addressInfo?.secondaryAddress?.lineOne}}</th>
                  </tr>
                  <tr>
                      <th>Line Two</th>
                      <th> &nbsp;{{addressInfo?.secondaryAddress?.lineTwo}}</th>
                  </tr>
                  <tr>
                      <th>City</th>
                      <th> &nbsp;{{addressInfo?.secondaryAddress?.city}}</th>
                  </tr>
                  <tr>
                      <th>State</th>
                      <th> &nbsp;{{addressInfo?.secondaryAddress?.state}}</th>
                  </tr>
                  <tr>
                      <th>Zip</th>
                      <th> &nbsp;{{addressInfo?.secondaryAddress?.zip}}</th>
                  </tr>
                    
            </mat-expansion-panel>
          </mat-accordion>
          <mat-card-actions>
            <button mat-raised-button color="primary" mat-button (click)="enableEditor()">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>

