

<app-name></app-name>
<!-- <app-test></app-test> -->

<app-contact-info>contact info</app-contact-info>
<app-address>address</app-address>
<app-employment>employment</app-employment>
<app-emergency-contact>emergency contact</app-emergency-contact>

<!-- 


<app-document>document</app-document>  -->

<div style="padding: 5px 5px; border: red 1px solid">
    <h2>Hello David, Welcome to BeaconFire Solution</h2><br>
<!-- 
        <button (click)="redirect('quiz')">Personal Information</button>&nbsp;

        <button (click)="redirect('feedback')">Visa Status Management</button>&nbsp;

        <button (click)="redirect('nested')">Housing</button>
    <hr> -->


</div>

