

<div>
    <thead>
        <tr>
            <th><h2>Contact Information</h2></th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf = "!editorEnabled">
            
            <tr>
                <th>Cell Phone</th>
                <th> &nbsp;{{contactinfo?.cellPhone}}</th>
            </tr>
    
            <tr>
                <th>Work Phone</th>
                <th> &nbsp;{{contactinfo?.workPhone}}</th>
            </tr>
    
            <tr>
                <th>Personal Email</th>
                <th>&nbsp;{{contactinfo?.personalEmail}}</th>
            </tr>
            <tr>
                <th>Work Email</th>
                <th>&nbsp;{{contactinfo?.workEmail}}</th>
            </tr>
            
            
            <button (click)="enableEditor()">Edit</button>
        </div>
    
        <div *ngIf = "editorEnabled">
            
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div>
                    <tr>
                        <td>Cell Phone</td>
                        <td>
                            <input type="text" name="cellPhone" [(ngModel)]="contactinfo.cellPhone"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Work Phone</td>
                        <td>
                            <input type="text" name="workPhone" [(ngModel)]="contactinfo.workPhone"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Personal Email</td>
                        <td>
                            <input type="text" name="personalEmail" [(ngModel)]="contactinfo.personalEmail"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Work Email</td>
                        <td>
                            <input type="text" name="workEmail" [(ngModel)]="contactinfo.workEmail"><br>
                        </td>
                    </tr>
                    
                </div>
                <button type="submit">Save</button>
            </form><br>
                <button (click)="discardChanges()">Cancel</button>
        </div>
        
    </tbody>


</div>

