

<div *ngIf = "editorEnabled">
    <mat-card>
    <h1>Employment</h1>
    <form>
        <table mat-table class="mat-elevation-z8">
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Work Authorization</mat-label>
                        <input matInput type="text" name="workAuth" [ngModel]="employment?.workAuthorization" (ngModelChange)="employment?.workAuthorization"><br>
                    </mat-form-field>
                <th>
            </tr>

            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" name="title" [ngModel]="employment?.title" (ngModelChange)="employment?.title"><br>
                    </mat-form-field>
                <th> 
            </tr>

            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Work Authorization Start Date</mat-label>
                        <input matInput type="text" name="workSDate" [ngModel]="employment?.workAuthStartDate" (ngModelChange)="employment?.workAuthStartDate"><br>
                    </mat-form-field>
                <th>
            </tr>
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Work Authorization End Date</mat-label>
                        <input matInput type="text" name="workEDate" [ngModel]="employment?.workAuthEndDate" (ngModelChange)="employment?.workAuthEndDate"><br>
                    </mat-form-field>
                <th>
            </tr>
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Employmemt Start Date</mat-label>
                        <input matInput type="text" name="employSDate" [ngModel]="employment?.employmentStartDate" (ngModelChange)="employment?.employmentStartDate"><br>
                    </mat-form-field>
                <th>
            </tr>
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Employmemt End Date</mat-label>
                        <input matInput type="text" name="employeDate" [ngModel]="employment?.employmentEndDate" (ngModelChange)="employment?.employmentEndDate"><br>
                    </mat-form-field>
                <th>
            </tr>
        
            <tr>
                <button mat-stroked-button color="primary" (click)="onSubmit()">Save</button>
                <button mat-stroked-button color="accent" (click)="discardChanges()">Cancel</button>
            </tr>  
        </table>
    </form>
    </mat-card>
</div>

<div *ngIf = "!editorEnabled">
    <mat-card class="example-card">
        <h1>Employment</h1>
        <mat-card-content>
            <form #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div #nameControl="ngModelGroup" ngModelGroup="user">
                    <tr>
                        <td><button mat-button color="primary">Work Authorization</button></td>
                        <th> &nbsp;{{employment?.workAuthorization}}</th>
                    </tr>
            
                    <tr>
                        <td><button mat-button color="primary">Title</button></td>
                        <th> &nbsp;{{employment?.title}}</th>
                    </tr>
            
                    <tr>
                        <td><button mat-button color="primary">Work Authorization Start Date</button></td>
                        <th> &nbsp;{{employment?.workAuthStartDate}}</th>
                    </tr>
                    <tr>
                        <td><button mat-button color="primary">Work Authorization End Date</button></td>
                        <th> &nbsp;{{employment?.workAuthEndDate}}</th>
                    </tr>
                    <tr>
                        <td><button mat-button color="primary">Employmemt Start Date</button></td>
                        <th> &nbsp;{{employment?.employmentStartDate}}</th>
                    </tr>
                    <tr>
                        <td><button mat-button color="primary">Employmemt End Date</button></td>
                        <th> &nbsp;{{employment?.employmentEndDate}}</th>
                    </tr>
                </div>
            </form><br>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" mat-button (click)="enableEditor()">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>
        


