

<div>
  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <th></th>
          <th>
            <app-pi-name></app-pi-name>
          </th>
          <th>
            <app-employment></app-employment>
          </th>
          <th>
            
          </th>
          <th>
            <app-contact-info></app-contact-info>
          </th>
          <th>
          
        </tr>


        <tr>
          <app-pi-address></app-pi-address>
        </tr>
        <tr>
          <app-pi-emergency-contact></app-pi-emergency-contact>
        </tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>

