.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.avatar-image-hr {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url(../../../assets/images/avatar-hr.png);
  background-size: cover;
}

.avatar-image-employee {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url(../../../assets/images/avatar-employee.png);
  background-size: cover;
}

.example-card {
  max-width: 500px;
}

