<head>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
</head>

<body>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" style="width:200px" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-card class="example-card">
          <!-- <mat-card-header> -->

            <!-- <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          
            <span flex></span>
            <div layout="row" style="width:60px">
              <span flex></span>
              <div mat-card-avatar class="avatar-image-hr" style="width:40px"></div>
              <span flex></span>
            </div>
            <span flex></span>
            <h5>Firstname Lastname</h5>
            <!-- <h5>email@domainname.com</h5> -->

            <!-- <mat-card-footer>
              <div class="md-body-2"><h5>Firstname Lastname</h5></div>
              <div class="md-body-1"><h5>email@domainname.com</h5></div>
            </mat-card-footer> -->

            <!-- <div class="md-body-2">Firstname Lastname</div>
            <div class="md-body-1">email@domainname.com</div> -->
          
          <!-- </mat-card-header> -->
          
        </mat-card>
      <mat-nav-list>
        <!-- <a mat-list-item href="#">
          <h5>Firstname Lastname</h5>
          
        </a>
        <a mat-list-item href="#"><h5>email@domainname.com</h5></a> -->
        <a mat-list-item href="#">Personal Info</a>
        <a mat-list-item href="#">Visa</a>
        <a mat-list-item href="#">Housing</a>
        <a mat-list-item href="#">Boarding</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>BeaconFire</span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
      <!-- Angular Material Dependencies -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
      <!-- Angular Material -->
      <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
</body>
