<form [formGroup]="visaForm" >

    <p>Visa Info</p>
    
    <div>
        <label>Are you a citizen or permanent resident of the U.S?:
            <select formControlName="citizen" (change)="onChangeCitizen()">
                <option value='yes' selected="selected">Yes</option>
                <option value='no'>No</option>
              </select>
        </label>

        <div *ngIf="CitizenOrPR=='yes'">
            <label>Citizen or Permanent Resident?:
                <select formControlName="citizenType">
                    <option value='Citizen' selected="selected">Citizen</option>
                    <option value='Green Card'>Green Card</option>
                  </select>
            </label>
        </div>

        <div *ngIf="CitizenOrPR=='no'">
            <label>What is your work authorization?:
                <select formControlName="visaType" (change)="onChangeVisaType()">
                    <option value='H1-B' selected="selected">H1-B</option>
                    <option value='L2'>L2</option>
                    <option value='F1(CPT/OPT)'>F1(CPT/OPT)</option>
                    <option value='H4'>H4</option>
                    <option value='other'>other</option>
                  </select>
            </label><br>
            
            <div *ngIf="visaType=='other'">
                <label>Other work authorization:<input type="text" formControlName="otherVisaType"/></label>
                <label style="color:red" *ngIf="visaForm.controls.otherVisaType.invalid && 
                (visaForm.controls.otherVisaType.dirty||visaForm.controls.otherVisaType.touched)">otherVisaType required!</label><br>
            
            </div>

            <label>Start Date: <input type="text" formControlName="startDate"></label>
            <label style="color:red" *ngIf="visaForm.controls.startDate.invalid && 
            (visaForm.controls.startDate.dirty||visaForm.controls.startDate.touched)">startDate required!</label><br>
            
            <label>End Date: <input type="text" formControlName="endDate"></label>
            <label style="color:red" *ngIf="visaForm.controls.endDate.invalid && 
            (visaForm.controls.endDate.dirty||visaForm.controls.endDate.touched)">endDate required!</label><br>
        </div>


        
    </div>
    <!-- <button type="submit" (click)="onSubmit()" [disabled]="!visaForm.valid">Next</button> -->
    </form>