

<div>
    <thead>
        <tr>
            <th><h2>Name</h2></th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf = "!editorEnabled">
            
            <tr>
                <th>Legal Name</th>
                <th> &nbsp;{{name?.legalName}}</th>
            </tr>
    
            <tr>
                <th>Prefered Name</th>
                <th> &nbsp;{{name?.preferedName}}</th>
            </tr>
    
            <tr>
                <th>Gender</th>
                <th>&nbsp;{{name?.gender}}</th>
            </tr>
            <tr>
                <th>Age</th>
                <th>&nbsp;{{name?.age}}</th>
            </tr>
            <tr>
                <th>Avatar</th>
                <th>&nbsp;{{name?.avatar}}</th>
            </tr>
            <tr>
                <th>SSN</th>
                <th>&nbsp;{{name?.ssn}}</th>
            </tr>
            
            <button (click)="enableEditor()">Edit</button>
        </div>
    
        <div *ngIf = "editorEnabled">
            
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div #nameControl="ngModelGroup" ngModelGroup="user">
                    <tr>
                        <td>Legal Namer</td>
                        <td>
                            <input type="text" name="legalName" [ngModel]="name?.legalName" (ngModelChange)="name.legalName=$event"><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Prefered Name</td>
                        <td>
                            <input type="text" name="preferedName" [ngModel]="name?.preferedName" (ngModelChange)="name.preferedName=$event"><br>
                                        
                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <input type="text" name="gender" [ngModel]="name?.gender" (ngModelChange)="name.gender=$event"><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Ager</td>
                        <td>
                            <input type="text" name="age" [ngModel]="name?.age" (ngModelChange)="name.age=$event"><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Avatar</td>
                        <td>
                            <input type="text" name="avatar" [ngModel]="name?.avatar" (ngModelChange)="name.avatar=$event"><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>SSN</td>
                        <td>
                            <input type="text" name="ssn" [ngModel]="name?.ssn" (ngModelChange)="name.ssn=$event"><br>
                            
                        </td>
                    </tr>
                </div>
                <button type="submit">Save</button>
            </form><br>
                <button (click)="discardChanges()">Cancel</button>
        </div>
        
    </tbody>


</div>

