
<div *ngIf = "editorEnabled">
    <!-- <form [formGroup]="nameForm" > -->
    <mat-card>
    <h1>Name</h1>
    <form>
        <table mat-table class="mat-elevation-z8">
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Leagal Name</mat-label>
                        <input matInput type="text" name="legalName" [ngModel]="name?.legalName" (ngModelChange)="name.legalName=$event"><br>
                    </mat-form-field>
                </th>   
            </tr>
                
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Prefered Name</mat-label>
                        <input matInput type="text" name="preferedName" [ngModel]="name?.preferedName" (ngModelChange)="name.preferedName=$event"><br>
                    </mat-form-field>
                </th>
            </tr>
                
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Gender</mat-label>
                        <input matInput type="text" name="gender" [ngModel]="name?.gender" (ngModelChange)="name.gender=$event"><br>
                    </mat-form-field>
                </th>         
            </tr>
                
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Age</mat-label>
                        <input matInput type="text" name="age" [ngModel]="name?.age" (ngModelChange)="name.age=$event"><br>
                    </mat-form-field>
                </th> 
            </tr>
                
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>Avatar</mat-label>
                        <input matInput type="text" name="avatar" [ngModel]="name?.avatar" (ngModelChange)="name.avatar=$event"><br>
                    </mat-form-field>
                </th> 
            </tr>
                
            <tr>
                <th>
                    <mat-form-field appearance="outline">
                        <mat-label>SSN</mat-label>
                        <input matInput type="text" name="ssn" [ngModel]="name?.ssn" (ngModelChange)="name.ssn=$event"><br>
                    </mat-form-field>
                </th>               
            </tr>
            
            <tr>
                <button mat-stroked-button color="primary" (click)="onSubmit()">Save</button>
                <button mat-stroked-button color="accent" (click)="discardChanges()">Cancel</button>
            </tr>     
        </table>            
    </form><br>
    </mat-card> 
</div>

<div *ngIf = "!editorEnabled">
    <mat-card class="example-card">
        <h1>Name</h1>
        <mat-card-content>
            <tr>
                <td><button mat-button color="primary">Legal Name</button></td>
                <th> &nbsp;{{name?.legalName}}</th>
            </tr>
    
            <tr>
                <td><button mat-button color="primary">Prefered Name</button></td>
                <th> &nbsp;{{name?.preferedName}}</th>
            </tr>
    
            <tr>
                <td><button mat-button color="primary">Gender</button></td>
                <th>&nbsp;{{name?.gender}}</th>
            </tr>
            <tr>
                <td><button mat-button color="primary">Age</button></td>
                <th>&nbsp;{{name?.age}}</th>
            </tr>
            <tr>
                <td><button mat-button color="primary">Avatar</button></td>
                <th>&nbsp;{{name?.avatar}}</th>
            </tr>
            <tr>
                <td><button mat-button color="primary">SSN</button></td>
                <th>&nbsp;{{name?.ssn}}</th>
            </tr>
        </mat-card-content> 
        
        <mat-card-actions>
            <button mat-raised-button color="primary" mat-button (click)="enableEditor()">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>
