<h1>Existing Report</h1><br><br>
    <h2>Report Information</h2>
    Title: {{report?.title}}<br>
    Description: {{report?.description}}<br>
    EmployeeId: {{report?.employeeId}}<br>
    Create Date: {{report?.reportDate}}<br>
    Status: {{report?.status}}<br><br>

    <h2>Create Comment</h2>
    <form [formGroup]="commentForm" (ngSubmit)="onCreate(commentForm)">
        <input type="text" formControlName="comment" placeholder="Comment Here" required><br><br>
        <button type="submit" [disabled]="!commentForm.valid">Submit</button>
        {{createMessage}}
    </form><br><br>

    <h2>Update Comment</h2>
    <ng-container *ngFor="let comment of comments" >
        EmployeeID: {{comment.employeeId}} <br>
        Date: {{comment.lastModificationDate}} <br>
        <!-- Content: {{comment.comments}} -->
        <form>
            <textarea #updateComment cols="20" rows="1" [disabled]="!onDisabled(comment.employeeId)">{{comment.comments}}</textarea><br><br>
            <button (click)="onUpdate(comment.id, updateComment.value)" [disabled]="!onDisabled(comment.employeeId)">Submit</button>
            <!-- {{updateMessage}} -->
        </form><br><br>
    </ng-container>