<form [formGroup]="contactForm" >

    <p>Contact Info</p>
    
    <div>
        <label>Cellphone: <input type="text" formControlName="cellPhone"></label>
        <label style="color:red" *ngIf="contactForm.controls.cellPhone.invalid && 
        (contactForm.controls.cellPhone.dirty||contactForm.controls.cellPhone.touched)">cellPhone required!</label><br>
        <label>Work Phone: <input type="text" formControlName="alterPhone"></label><br>
        <label>email: <input type="text" formControlName="email"></label>
        <label style="color:red" *ngIf="contactForm.controls.email.invalid && 
        (contactForm.controls.email.dirty||contactForm.controls.email.touched)">email required!</label><br>
        
    </div>
    <!-- <button type="submit" (click)="onSubmit()" [disabled]="!contactForm.valid">Next</button> -->
</form>