<form [formGroup]="nameForm" >

<p>Name Info</p>

<div>
    <label>First Name: <input type="text" formControlName="firstName"></label>
    <label style="color:red" *ngIf="nameForm.controls.firstName.invalid && 
    (nameForm.controls.firstName.dirty||nameForm.controls.firstName.touched)">firstname required!</label><br>
    <label>Middle Name: <input type="text" formControlName="middleName"></label><br>
    <label>Last Name: <input type="text" formControlName="lastName"></label>
    <label style="color:red" *ngIf="nameForm.controls.lastName.invalid && 
    (nameForm.controls.lastName.dirty||nameForm.controls.lastName.touched)">lastname required!</label><br>
    <label>Prefered Name: <input type="text" formControlName="preferedName"></label><br>
    
</div>
<!-- <button type="submit" (click)="onSubmit()" [disabled]="!nameForm.valid">Next</button> -->
</form>