<h1>HR Management System</h1>
<!-- <nav>
    <ul>
    <li><a routerLink="/personalinfo">Personal Information</a></li>
    <li><a routerLink="/quiz">Quiz</a></li>
    <li><a routerLink="/feedback">Feedback</a></li>
    <li><a routerLink="/nested">Nested</a></li>
    <li><a routerLink="/guard">Guard</a></li>
    <li><a routerLink="/pipe">Pipe</a></li>
    <li><a routerLink="/guard" [queryParams]="{name:'Landon'}">
        Guard With Name
    </a></li>
    </ul>
</nav> -->



<app-personal-info></app-personal-info>
<!-- <app-test></app-test>
<app-pi-show-user></app-pi-show-user> -->

<router-outlet></router-outlet>