

<mat-tab-group>
    <mat-tab label="Log with UserName"> 
        
        <mat-card>
            <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedLoginMethod">
                <mat-radio-button value="username">Use Username</mat-radio-button>
                <mat-radio-button value="email">User Email</mat-radio-button>
            </mat-radio-group>
            {{selectedLoginMethod}} -->
            <!-- <mat-card-title>Login</mat-card-title> -->


                    <app-login></app-login>

        </mat-card>
    </mat-tab>

    <mat-tab label="Log with Email"> 
        <mat-card>
            <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedLoginMethod">
                <mat-radio-button value="username">Use Username</mat-radio-button>
                <mat-radio-button value="email">User Email</mat-radio-button>
            </mat-radio-group>
            {{selectedLoginMethod}} -->
            <!-- <mat-card-title>Login</mat-card-title> -->

                    <app-login-email></app-login-email>

        </mat-card>
    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>