<form [formGroup]="carForm" >

    <p>Car Info</p>
    
    <div>
        <label>Car Info: <input type="text" formControlName="carInfo" pattern="[0-9a-zA-Z]{1,10}_[0-9a-zA-Z]{1,10}_[0-9a-zA-Z]{1,10}"></label>
        <label style="color:red" *ngIf="carForm.controls.carInfo.invalid && 
        (carForm.controls.carInfo.dirty||carForm.controls.carInfo.touched)">Input like this: Make_Model_Color. E.g. Audi_Q7_Black</label><br>
        <label>Do you have driver liscence?:
            <select formControlName="haveLiscense" (change)="onSelect()">
                <option value='yes'>Yes</option>
                <option value='no' selected="selected">No</option>
              </select>
        </label>
        <div *ngIf="ownLiscense=='yes'">
            <label>Driver Liscense Number: <input type="text" formControlName="driverLiscense"></label>
            <label style="color:red" *ngIf="carForm.controls.driverLiscense.invalid && 
            (carForm.controls.driverLiscense.dirty||carForm.controls.driverLiscense.touched)">driverLiscense required!</label><br>
            
            <label>Driver Liscense Expiration Date: <input type="text" formControlName="expirationDate"></label>
            <label style="color:red" *ngIf="carForm.controls.expirationDate.invalid && 
            (carForm.controls.expirationDate.dirty||carForm.controls.expirationDate.touched)">expirationDate required!</label><br>
        </div>
        
    </div>
    <!-- <button type="submit" (click)="onSubmit()" [disabled]="!carForm.valid">Next</button> -->
    </form>