<form [formGroup]="idForm" >

    <p>Other identity Info</p>
    
    <div>
        <label>SSN: <input type="text" formControlName="ssn"></label>
        <label style="color:red" *ngIf="idForm.controls.ssn.invalid && 
        (idForm.controls.ssn.dirty||idForm.controls.ssn.touched)">ssn required!</label><br>
        <label>Date of Birth: <input type="text" formControlName="dob"></label>
        <label style="color:red" *ngIf="idForm.controls.dob.invalid && 
        (idForm.controls.dob.dirty||idForm.controls.dob.touched)">dob required!</label><br>
        <!-- <label>Gender: <input type="text" formControlName="gender"></label><br> -->
        <label>Gender:
            <select formControlName="gender">
                <option value="I don't want to answer" selected="selected">I don't want to answer</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
        </label>
       
    </div>
    <!-- <button type="submit" (click)="onSubmit()" [disabled]="!idForm.valid">Next</button> -->
</form>